.DS_Store
data/*

# Server icon
!data/server-icon.png
!data/config
data/config/*
!data/config/Geyser-Fabric
data/config/Geyser-Fabric/*
!data/config/Geyser-Fabric/config.yml

# .env file
.env

# nginx
nginx
