data/*

# Server icon
!data/server-icon.png

!data/config/
data/config/*
!data/squaremap/
data/squaremap/*
!data/squaremap/locale/
data/squaremap/locale/*
!data/squaremap/locale/lang-ru.yml
!data/squaremap/config.yml
!data/squaremap/advanced.yml

# .env file
.env

# nginx
nginx
