services:
  static:
    ports:
      - "3001:80"
    image: nginx:alpine
    container_name: static
    volumes:
      - ./static:/usr/share/nginx/html
      - ./static.conf:/etc/nginx/conf.d/default.conf

  minecraft:
    image: itzg/minecraft-server
    container_name: minecraft-server
    ports:
      - "25565:25565"
      - "8080:8080"
      - "8073:8073"
    environment:
      EULA: "TRUE"
      VERSION: "1.21.5"
      ENABLE_RCON: "true"
      RCON_PASSWORD: "${RCON_PASSWORD}"
      MOTD: "superhooman server"
      INIT_MEMORY: 1536M
      MAX_MEMORY: 3072M
      TYPE: FABRIC
      MODRINTH_PROJECTS: |
        fabric-api
        ferrite-core
        lithium
        noisium
        threadtweak
        squaremap
      OPS: |
        8b0f487549d04b8aa9dcfe2e701a692d
      WHITELIST: |
        8b0f487549d04b8aa9dcfe2e701a692d
        4c6fca2a57ff4e439fb121490c3de576
        b9acbda40bef4f6688303ae754533b7e
        68fd893772e94eab810fcbb0faa33aad
        240d3fb629cd41009dfad6f0ade37681
        45fc2f79c18743299be563b32b0df865
        f28f73bb12d24de2a14fbf073cafde61
        b6fe1a01bf0f40a4b594aad8a0b384f4
        113197488c5d4520b552e4d1542c8eb9
    volumes:
      - ./data:/data:rw
      - ./mods:/mods:rw
    restart: unless-stopped
